body, html {
    margin: 0;
    padding: 0;
}

.top-header {
    background-color: black; /* 設定黑色背景 */
    color: white; /* 讓文字變成白色 */
    padding: 8px 0; /* 設定內邊距 */
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* 確保標題在最上層 */
}

main {
    margin-top: 12px; /* 讓主要內容不會被固定標題遮住 */
    padding: 20px;
}
